In [1]:
import pandas as pd

In [4]:
# Load text file (Feburary medicare certificate)
df = pd.read_fwf('1967oct.txt')
df = df.rename(columns={"This file was downloaded from HathiTrust Digital Library.": "Hospital"})

In [6]:
# First get the hospital names:
df[df['Hospital'].str.contains(' HOSP$')]

                    Hospital
37             HENRY CO HOSP
38           SHELBY MEM HOSP
39              RUSSELL HOSP
40     SOUTH PICKENS CO HOSP
42         COLUMBIA GEN HOSP
...                      ...
29564      CROOK CC MEM HOSP
29565   HOT SPRINGS MEM HOSP
29566     GOSHEN CC MEM HOSP
29567     PLATTE CO MEM HOSP
29568      WASHAKIE MEM HOSP

[5094 rows x 1 columns]

In [8]:
data = df[df['Hospital'].str.contains(' HOSP$' or 'CLINIC' or 'Health Center' or 'CLINICAL CENTER')]

In [9]:
data = data.reset_index()[['Hospital']]

In [10]:
data

                   Hospital
0             HENRY CO HOSP
1           SHELBY MEM HOSP
2              RUSSELL HOSP
3     SOUTH PICKENS CO HOSP
4         COLUMBIA GEN HOSP
...                     ...
5089      CROOK CC MEM HOSP
5090   HOT SPRINGS MEM HOSP
5091     GOSHEN CC MEM HOSP
5092     PLATTE CO MEM HOSP
5093      WASHAKIE MEM HOSP

[5094 rows x 1 columns]

In [17]:
df[df['Hospital'].str.contains(' ALABAMA$')]

                  Hospital
161         CENTRE ALABAMA
557       TUSKEGEE ALABAMA
565  UNION SPRINGS ALABAMA
571       WETUMPKA ALABAMA
573       WINFIELO ALABAMA
575           YDRK ALABAMA

In [11]:
data.to_excel('Hosp_nm_oct.xls')

In [13]:
# Try a few states
state = ['ALABAMA','ALASKA','ARIZONA','ARKANSAS','CALIFORNIA','COLORAOO','CONNECTICUT',
        'OELAWARE','FLORIОA','GEORGIA','HAWAII','IOAHO','ILLINOIS','INOIANA','IOWA',
        'KANSAS','KENTUCKY','LOUISIANA','MAINE','MARYLANO','MASSACHUSETTS','MICHIGAN','MINNESOTA',
         'MISSISSIPPI','MISSOURI','MONTANA','NEBRASKA','NEW HAMPSHIRE', 'JERSEY','NEW JERSEY',
        'MEXICO','NEW MEXICO','NEW YORK','CAROLINA','NORTH CAROLINA','NORTH OAKOTA','OAKOTA','OHIO',
         'OKLAHOMA','OREGON','PENNSYLVANIA','PUERTO RICO','ISLANO','SOUTH CAROLINA','OAKOTA',
         'SOUTH OAKOTA','TENNESSEE','TEXAS','UTAH','VERMONT','VIRGINIA','WASHINGTON',
        'WEST VIRGINIA','WISCONSIN','WYOMING']

In [20]:
list = {}
ad = pd.DataFrame()
for s in state:
    rtype = '[a-zA-Z] '+s+'$'
    list = df[df['Hospital'].str.contains(rtype)]
    list = list.reset_index()[['Hospital']]
    ad = ad.append(list)

In [21]:
ad

                 Hospital
0          CENTRE ALABAMA
1        TUSKEGEE ALABAMA
2   UNION SPRINGS ALABAMA
3        WETUMPKA ALABAMA
4        WINFIELO ALABAMA
..                    ...
0        SUNOANCE WYOMING
1     THERMOPCLIS WYOMING
2      TORRINGTON WYOMING
3       WHEATLAND WYOMING
4         WORLANO WYOMING

[1071 rows x 1 columns]